# CakePHP 3

/vendor/*
/config/app.php
/config/paths.php
/webroot/manager-arr/js/login.js
/.htaccess
/webroot/annulation_files/*
/webroot/contrat/*
/webroot/gestionnaire/*
/webroot/images/*
/webroot/inventaires/*
/webroot/taxesejour/*
/webroot/uploads/*
/webroot/xml/*
webroot/facturecommission/*
webroot/images_ann/*
#webroot/img/*
webroot/img/vignette*
webroot/img/png/vignette*
webroot/img/uploads/*
webroot/adminer.php
webroot/inventaireslocataire/*
webroot/justificatifdomicile/*
webroot/google*
webroot/manager-arr/*
webroot/*.txt
/.gitlab-ci.yml
/bin/cake

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty
/tmp/debug_kit.sqlite
/tmp/cache/twigView/*

/logs/*
!/logs/empty
/nbproject/private/
.idea/
debug