@media screen and (min-width: 599px) and (max-width: 767px) {
  #header_landing_page .col-md-11.col-md-offset-1 {
    margin-left: 0px !important;
  }
  .viewnew span{
    bottom: 15px;
    position: absolute;
    width: 100%;
  }
  .annonce_dim2 {
    width: 50%;
    float: left;
    padding: 10px;
}
.desc-list .row .parag {
    height: 150px;
    overflow: hidden;
}
/*.image-list {
    height: 236px;
}*/
.parag_b {
    height: 65px;
}
.featured-image {
     overflow: hidden;
	/*max-height: 197px;*/
}
}


@media screen and (max-width: 526px) {
a#trigger {
    margin-top: 55px;
    /*-left: 40%;*/
}

.bar-header {
    padding-bottom: 62px !important;
}
.img_center{
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}

}

@media screen and (max-width: 712px) {
  #bx-pager {
      height: auto;
  }
  #header_landing_page .col-md-11.col-md-offset-1 {
    margin-left: 0px !important;
  }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    padding: 5px;
    }

  	/* Force table to not be like tables anymore */
	table#table_id, table#table_id thead, table#table_id tbody, table#table_id th, table#table_id td, table#table_id tr, table#table_id_mes, table#table_id_mes thead, table#table_id_mes tbody, table#table_id_mes th, table#table_id_mes td, table#table_id_mes tr, table#tarifs, table#tarifs thead, table#tarifs tbody, table#tarifs th, table#tarifs td, table#tarifs tr {
		display: block !important;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	 table#table_id thead tr, table#table_id_mes thead tr, table#tarifs thead tr {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	 tr { border: 1px solid #ccc; }

	 table#table_id td, table#table_id_mes td, table#tarifs td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative !important;
		padding-left: 35% !important;
		white-space: normal !important;
		text-align:left !important;
		overflow: hidden;
		width: 100%;
		min-height: 34px;
	}

	 table#table_id td:before, table#table_id_mes td:before, table#tarifs td:before {
		/* Now like a table header */
		position: absolute !important;
		/* Top/left values mimic padding */
		top: 6px !important;
		left: 6px !important;
		width: 45% !important;
		padding-right: 10px !important;
		white-space: nowrap !important;
		text-align:left !important;
		font-weight: bold !important;
	}

	/*
	Label the data
	*/
	 table#table_id td:before, table#table_id_mes td:before, table#tarifs td:before  { content: attr(data-title); width: 30% !important; }

.img_center{
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}

.text_center {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    /*width: 85% !important;*/
    text-align: center;
}
}

@media (max-width:767px) {
    .navbar-header-mobile{
        display: none;
    }
    body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        /*-webkit-transform: translateZ(0px);*/
    }
    .search{
        height: auto !important;
        margin-bottom: 30px;
    }
    .search h2{
        padding-top: 20px;
    }
    #app{
        margin-bottom: 0;
    }
    .featured-product {
        height: auto;
    }
    .search .btn {
        width: 45%;
    }
    .search .btn.left {
       margin-right: 10%;
    }
    .image_left {
        max-width: none;
    }
    body{
        overflow-x: hidden;
    }
    .txt_saison{
        font-size: 19px;
    }
    .search .location, .select-inline-block, .search .surface,.search .surface,.search .budget, .search #reference_annonce, .search #mot_cles{
        width: 100% !important;
    } /* a verifier*/
    .newsletter .form-group{
        width: 50%;
        float: left;
    }
    .newsletter .btn-primary{
        float: right;
        width: 48%;
        margin-top: 1px;
        margin-left: 2%;
    }
    .image_left {
        max-width: none;
        width: 310px;
        bottom: 191px;
    }
    .header {
        background: rgba(0, 0, 0, 0) url("../images/header_mobile.jpg") no-repeat scroll center center;
        height: auto;
        background-size: cover;
    }
    .left-404{
        background: none;
    }
    .desc-404{
        font-size: 15px;
        text-align: left;
        padding-left: 5%;
    }
    .equipe-404{
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }
    .btn-404:hover{
        background: #E56900 !important;
    }
    .header_landing_page {
        height: auto;
    }
    .form-inline .form-group {
        display: block;
        margin-bottom: 15px !important;
    }
    .search_landing_page{
        border: 1px solid #f0f0f0;
    }
    .landing #annonces_location .featured-product {
        height: 362px;
        margin-bottom: 15px;
    }
    .featured-image{
        text-align: center;
    }
    video {
        background: none;
        top: 45%;
    }

    #logo_landing_page img {
        margin: 0 auto;
        margin-top: 11px;
        text-align: center;
        margin-bottom: 30px;

    }
    .landing .bar-header a {
        /*font-size: 16px;*/
    }
    .title_header {
        font-size: 19px;
    }
    .landing .title_header {
        margin-top: -39%;
    }
    .landing_page {
        margin-top: 0;
    }
    .landing-annaonce-titre {
        font-size: 27px;
    }
    .landing-annaonce-titre-blanc {
        font-size: 28px;
    }
    .landing #annonces_location .featured-product {
        height: auto;
    }
    .landing .text_partenaires_services {
        height: auto;
    }
    .bar-header .pull-right {
        text-align: left;
    }
    #logo_landing_page img {
        margin: 11px auto 5px;
        text-align: center;
    }
    .landing .slogan {
        margin-bottom: 15px;
        margin-left: 8px;
        text-align: left;
    }
    video {
        left: 0;
        right: 0;
        top: 210px;
        transform: none;
        min-height: 180px;
        background: #fff;
        position: static;
    }
    .search_landing_page {
        margin-top: 39px;
    }
    .center-sm {
        margin: 0 auto;
        width: 80%;
    }
    .center-sm2 .pull-right, .center-sm .pull-left{
        float: none !important;
        text-align: center;
    }
    .modal.in .modal-dialog {
        transform: translate(-6px, 5%);
        -webkit-transform: translate(-6px, 5%);
    }
    .bar-header {
        /*padding-top: 37px;*/
        padding-bottom: 19px;
    }
    .annonce-home .product .products li{
        display: none;
    }
    .annonce-home .product .products li:nth-child(-n+3) {
        display: list-item;
    }
    .particuliers-home .product .products li{
        display: none;
    }
    .particuliers-home .product .products li:nth-child(-n+3) {
        display: list-item;
    }
    .info .text-1, .info .text-2, .col-md-8 .desc_logo{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: block;
        font-family: "Oswald",sans-serif;
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
        opacity: 1;
        text-shadow: 0 0 4px #000;
        text-transform: uppercase;
    }
    .promotion .title-slide .left {
        display: block;
        margin-top: 2px;
    }
    .bar-header .pull-right {
        text-align: center;
        margin-top: 14px;
    }
    .promotion .list-inline{
        margin-left: 0;
        margin-right: 0;
    }
    .promotion .list-inline > li {
        padding-left: 0;
        padding-right: 0;
    }
    .blue {
        color: #3caffb;
        margin-right: 8px;
    }
    .navbar-collapse.collapse {
        padding-left: 15px;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-toggle {
        display:none;
    }
	a#trigger{
		visibility:visible;
		left: 0;
	}
    .row-fluid {
        margin-left: 0;
        margin-right: 0;
    }
    .border {
        margin-left: 0;
        margin-right: 0;
    }
    .logo-alpissime{
        text-align: center;
    }
    .icone-po-up .img-responsive {
        margin: 140px auto 50px;
    }
    .text-1 {
       /* margin-top: 20px;*/
        display: block;
        line-height: 35px;
    }
    .text-2 {
        text-shadow: 0 0 4px #fff;
        display: block;
        line-height: 35px;
    }
    .users {
        padding-left: 40px !important;
        color: #999;
    }
    .station {
        padding-left: 38px !important;
        color: #999;
    }
    .panier_service{
        margin-top: 70px;
    }
    .pagination .list-inline > li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bx-wrapper .bx-viewport {
        left: 0;
    }
    .numero-location{
        margin-top: 40px;
    }
    #bx-pager a {
        width: 29.8%;
    }
    .image_annonce {
        width: auto;
    }
    .featured-image {
        text-align: left;
        position: relative;
        width: 100%;
        display: inline-block;
    }
    .annonce .desc-list h3 {
        text-align: left;
    }
    .h2-partage {
        line-height: 37px;
    }
    .annonce .desc-list h2 {
        font-size: 19px;
    }
    .annonce .desc-list button {
        margin-top: 10px;
    }
.slogan-globale{
		margin-left:0px;
	}
.avantages{
		height:auto;
	}
	img#imgdatepick {
    display: none;
}

/* Force table to not be like tables anymore */
	table#table_id_valid, table#table_id_valid thead, table#table_id_valid tbody, table#table_id_valid th, table#table_id_valid td, table#table_id_valid tr, table#table_id_mes, table#table_id_mes thead, table#table_id_mes tbody, table#table_id_mes th, table#table_id_mes td, table#table_id_mes tr {
		display: block !important;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	 table#table_id_valid thead tr, table#table_id_mes thead tr {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	 tr { border: 1px solid #ccc; }

	 table#table_id_valid td, table#table_id_mes td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative !important;
		padding-left: 35% !important;
		white-space: normal !important;
		text-align:left !important;
		overflow: hidden;
	}

	 table#table_id_valid td:before, table#table_id_mes td:before {
		/* Now like a table header */
		position: absolute !important;
		/* Top/left values mimic padding */
		top: 6px !important;
		left: 6px !important;
		width: 45% !important;
		padding-right: 10px !important;
		white-space: nowrap !important;
		text-align:left !important;
		font-weight: bold !important;
	}

	/*
	Label the data
	*/
	 table#table_id_valid td:before, table#table_id_mes td:before { content: attr(data-title); width: 30% !important;}

	 .menu_right {
    float: right;
}

.img_center{
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}
	.text_center{
		position: absolute;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
		/*width: 70%;*/
		text-align: center;
	}
	.detail_ann {
    text-align: center;
}
.landing_img {
    height: auto;
    max-height: none;
	text-align: center;
}
}
@media (min-width: 768px) and (max-width:991px) {
  #header_landing_page .col-md-11.col-md-offset-1 {
    margin-left: 0px !important;
  }
    .navbar-header {
    float: right;
}
#bx-pager {
    height: auto;
}
.input_search {
    display: none;
    opacity: 1;
}
.btn-search, .navbar-header .pull-right {
    display: block !important;
}
.search{
    display: none;
}



    body{
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
       /* -webkit-transform: translateZ(0px);*/
    }
    .txt_saison{
        padding-left: 10px;
    }
    .search{
        position: static;
        margin-bottom: 30px;
    }
    .search h2{
        padding-top: 20px;
    }
    #app{
        margin-bottom: 0;
    }
    .txt_saison{
        font-size: 19px;
    }
    .bar-header .pull-right{
        text-align: right;
    }
    .products li:last-child {
        padding-right: 14px;
    }
    .search .location {
        width: 293px;
    }
    .select-inline-block {
        width: 553px;
    }
    .search .surface {
        width: 286px;
    }
    .search .budget {
        width: 302px;
    }
    .search #reference_annonce {
        width: 571px !important;
    }
    .search #mot_cles {
        width: 630px !important;
    }
    #bottom-first  .pull-right{
        float: right !important;
    }
    .newsletter form {
        text-align: left;
    }
    .newsletter, .newsletter form {
        margin-bottom: 18px;
    }
    .img-404 {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 64px;
        height: 252px;
    }
    .equipe-404 {
        margin-bottom: 37px;
        height: 29px;
    }
    .titre-404{
        height: 131px;
    }
    .left-404 .btn-404{
        margin-top: 104px;
    }
    .desc-404{
        font-size: 15px;
        text-align: center;
        height: 159px;
    }
    .btn-404:hover{
        background: #E56900 !important;
    }
    .left-404 {
        background: none;
    }
    .header_landing_page {
        height: 370px;
    }
    .landing .title_header {
        margin-top: -16%;
        font-size: 32px;
    }
    .txt_saison {
        font-size: 16px;
    }
    .landing_page {
        margin-top: 0;
    }
    .header_landing_page {
        height: auto;
    }
    .form-inline .form-group {
        display: block;
        margin-bottom: 15px !important;
    }
    .search_landing_page{
        border: 1px solid #f0f0f0;
        margin-top: 50px;
    }
    .landing #annonces_location .featured-product {
        height: 362px;
        margin-bottom: 15px;
    }
    .featured-image{
        text-align: center;
    }
    video {
        background: rgba(0, 0, 0, 0) url("../images/landing-bg-loading-tablette.jpg") no-repeat scroll 0 0 / contain;
    }
    .bar-header .pull-right {
        text-align: right;
    }
    .bar-header .img-responsive{
        margin: 0 auto;
    }
    #logo_landing_page img {
        margin-top: 11px;
        margin-bottom: 30px;
    }
    video {
        left: 0;
        right: 0;
        top: 210px;
        transform: none;
        min-height: 180px;
        background: #fff;
        position: static;
    }
    .center-sm {
        margin: 0 auto;
        width: 67%;
    }
    .center-sm2 {
        margin: 0 auto;
        width: 75%;
    }
    .landing .text_partenaires_services {
        height: auto;
    }
    .landing .block {
        margin-bottom: 20px;
    }
    .form_newsletter .form-group {
        display:inline-block;
    }
    .form_newsletter .form-control {
        margin-top: 5px;
    }
    .landing .modal.in .modal-dialog {
        transform: translate(0, 20%);
        -webkit-transform: translate(0px, 20%);
    }
    .btn-sociaux img{
        width: 44px;
    }
    .bar-header {
        /*padding-top: 37px;
        padding-bottom: 30px;*/
    }
    .annonce-home .product .products li{
        display: none;
    }
    .annonce-home .product .products li:nth-child(-n+4) {
        display: list-item;
    }
    .particuliers-home .product .products li{
        display: none;
    }
    .particuliers-home .product .products li:nth-child(-n+4) {
        display: list-item;
    }
    .text-1 {
        /*margin-top: 20px;*/
        display: block;
        line-height: 35px;
    }
    .text-2 {
        text-shadow: 0 0 4px #000;
        display: block;
        line-height: 35px;
    }
    .panier_service{
        margin-top: 70px;
    }
    .bx-wrapper .bx-viewport {
        left: 0;
    }
    .numero-location{
        margin-top: 40px;
    }
    #bx-pager a {
        width: 23.8%;
    }
    .image_annonce {
        width: auto;
    }
    .featured-image {
        text-align: left;
        position: relative;
        width: 100%;
        display: inline-block;
    }
    .annonce .desc-list h3 {
        text-align: left;
    }
	.slogan-globale{
		margin-left:0px;
	}
	.avantages{
		height:auto;
	}


/* Force table to not be like tables anymore */
	table#table_id_mes, table#table_id_mes thead, table#table_id_mes tbody, table#table_id_mes th, table#table_id_mes td, table#table_id_mes tr {
		display: block !important;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	 table#table_id_mes thead tr {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	 tr { border: 1px solid #ccc; }

	 table#table_id_mes td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative !important;
		padding-left: 35% !important;
		white-space: normal !important;
		text-align:left !important;
		overflow: hidden;
	}

	 table#table_id_mes td:before {
		/* Now like a table header */
		position: absolute !important;
		/* Top/left values mimic padding */
		top: 6px !important;
		left: 6px !important;
		width: 45% !important;
		padding-right: 10px !important;
		white-space: nowrap !important;
		text-align:left !important;
		font-weight: bold !important;
	}

	/*
	Label the data
	*/
	table#table_id_mes td:before { content: attr(data-title); width: 30% !important;}

	.img_center{
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	}
	.text_center{
		position: absolute;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
		width: 63%;
	}
	.detail_ann {
    text-align: center;
}
a#trigger {
    visibility: visible;
    left: 0;
}
.menu_right {
    float: right;
}
div#navbar {
    display: none !important;
}
.bottom{
	text-align:center;
}
.table_servi tbody tr td {
    vertical-align: middle;
}

.annonce_dim2 {
    width: 50%;
    float: left;
    padding: 10px;
}
.desc-list .row .parag {
    height: 150px;
    overflow: hidden;
}
/*.image-list {
    height: 236px;
}*/
.parag_b {
    height: 65px;
}
.featured-image {
     overflow: hidden;
	max-height: 229px !important;
}
.midd{
	display: table-cell;
    vertical-align: middle;
}
.prod{
	height: 346px;
	display: table;
}
}
@media (min-width: 992px) and (max-width:1200px) {
    body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        /*-webkit-transform: translateZ(0px);*/
    }

    .products .featured-product .produit-annonce-home {
    height: 197px;
	}

    #slide #search .form-group{
        margin-bottom: 5px;
    }
    video {
        left: 0;
        right: 0;
        top: 210px;
        transform: none;
        min-height: 180px;
        background: #fff;
        position: static;
    }
    .header_landing_page {
        height: auto;
    }
    .search_landing_page {
        border: 1px solid #f0f0f0;
        margin-bottom: 35px;
    }
    .landing .title_header {
        font-size: 32px;
        margin-top: -16%;
    }
    .search h2 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .description span{
        font-size: 13px;
    }
    #footer a {
        font-size: 11px;
    }
    .info{
        text-align: center;
    }
    .text-2{
        color: #FED44A;
        text-shadow: 0 0 4px #000;
        font-size: 26px;
    }
    .txt_saison{
        font-size: 17px;
    }
    div.navbar .nav > li > a {
        font-size: 13px;
    }
    /*.search{
        width: 40.2%;
    }*/
    .equipe-404{
        margin-bottom: 49px;
    }
    .left-404 {
        background: none;
    }
    .bar-header ul {
        text-align: right;
        margin-top: 0;
    }
    .search_landing_page input, .search_landing_page button {
        font-size: 12px;
    }
    .search_landing_page button {
        font-size: 12px;
        height: 38px;
        margin-top: 1px;
    }
    .landing .list-inline > li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .landing .slogan {
        margin-top: 16px;
    }
    .landing .bar-header a {
        margin-top: 8px;
    }
    .newsletter .title-newsletter {
        font-size: 20px;
    }
    .list-reseau img{
        width: 33px;
    }
    .bar-header{
        padding-top: 23px;
    }
    .bar-header {
        /*padding-top: 37px;
        padding-bottom: 30px;*/
    }
    .bar-header ul {
        margin-top: 5px;
        text-align: left;
    }
    .search_landing_page .col-md-3, .search_landing_page .col-md-2{
        padding-left: 5px;
        padding-right: 5px;
    }
    .users {
        background-position: 3px center, 98% 50% !important;
        padding-left: 29px;
    }
    .station {
        background-position: 6px center, 98% 50% !important;
        padding-left: 25px !important;
    }
    .landing .modal.in .modal-dialog {
        transform: translate(0px, 15%);
    }
    #bx-pager {
        height: 460px;
    }
    .h2-partage {
        margin-top: 26px;
    }
    .annonce .desc-list button {
        font-size: 15px;
    }



/* Force table to not be like tables anymore */
	table#table_id_mes, table#table_id_mes thead, table#table_id_mes tbody, table#table_id_mes th, table#table_id_mes td, table#table_id_mes tr {
		display: block !important;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	 table#table_id_mes thead tr {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	 tr { border: 1px solid #ccc; }

	table#table_id_mes td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative !important;
		padding-left: 35% !important;
		white-space: normal !important;
		text-align:left !important;
		overflow: hidden;
	}

	table#table_id_mes td:before {
		/* Now like a table header */
		position: absolute !important;
		/* Top/left values mimic padding */
		top: 6px !important;
		left: 6px !important;
		width: 45% !important;
		padding-right: 10px !important;
		white-space: nowrap !important;
		text-align:left !important;
		font-weight: bold !important;
	}

	/*
	Label the data
	*/
	table#table_id_mes td:before { content: attr(data-title); width: 30% !important;}

	.marge1 {
    margin-top: 11%;
}
.marge {
    margin-top: 17%;
}
.btn_cont_prop {
    float: right;
}
.table_servi tbody tr td {
    vertical-align: middle;
}
a#trigger {
    visibility: visible;
    left: 0;
    z-index: 9;
}
.menu_right {
    float: right;
}
div#navbar {
    display: none !important;
}
.menu_tab {
    float: right !important;
	width: 100%;
}
#header_landing_page .col-md-11.col-md-offset-1 {
    margin-left: 40px !important;
}
.midd{
	display: table-cell;
    vertical-align: middle;
}
.prod{
	height: 260px;
	display: table;
}
.serv {
    height: 68px;
}
}
@media (min-width: 1201px) {
  .menu_right {
    float: right;
  }

	.products .featured-product .produit-annonce-home {
    height: 197px;
	}

    .header{
        background-size: cover;
    }

	.marge1 {
    margin-top: 11%;
}
.marge {
    margin-top: 17%;
}
.btn_cont_prop {
    float: right;
}
.table_servi tbody tr td {
    vertical-align: middle;
}
.featured-image {
     overflow: hidden;
	max-height: 197px;
}
.midd{
	display: table-cell;
    vertical-align: middle;
}
.prod{
	height: 273px;
	display: table;
}
}
