.header {
  border: 1px solid #bcbcbc;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;
}
.header__title {
  width: 380px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #4b4b4b;
}

.header__func {
  display: flex;
  grid-gap: 0 10px;
  flex-wrap: wrap;

  /*width: calc(100% - 400px);*/
  align-items: center;
}

.header__func-min {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 0 10px;
  padding: 5px 0 10px 0;
}

.header__mTitle {
  font-family: "Open Sans", sans-serif;
  color: #3d3d3d;
  font-weight: 400;
}

/* header-select */
.header__func-min select {
  display: none;
}

.header__func-min .filter-btn {
  padding: 4px 10px;
  border: 1px solid;
  border-radius: 0;
}

.header__func-min .filter-btn:focus {
  box-shadow: none !important;
}

.header__func-min .filter-btn:after {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header__func-min .multiselect-container {
  width: max-content;
  padding: 10px 0;
}

.header__func-min .multiselect-container .separator {
  margin-top: 8px;
}

.header__func-min .multiselect-container label {
  padding: 3px 20px;
}

.header-select {
  position: relative;
}

.select__body._active {
  display: block;
}

.select__body {
  display: none;
  min-width: 200px;
  background: #fff;
  z-index: 88;
  position: absolute;
  top: 110%;
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select__line {
  display: flex;
  flex-direction: column;
  grid-gap: 7px 0;
  border-bottom: 1px solid #c5c5c5;
  padding: 10px;
}

.select__body>.select__line:last-child {
  border-bottom: none;
}

.select__item {
  display: flex;
  align-items: center;
  grid-gap: 0 3px;
}

.header__func-min .checkbox {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 0 3px;
}

/*.select__checkbox {*/
.header__func-min .checkbox input {
  position: relative;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #c5c5c5;
  cursor: pointer;
}

/*.select__checkbox::after {*/
.header__func-min .checkbox input::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 75%;
  top: 12.5%;
  left: 15%;
  background: #0c98fa;
  opacity: 0;
  transition: all 0.1s ease;
}

/*.select__checkbox:checked:after {*/
.header__func-min .checkbox input:checked:after {
  opacity: 1;
}

.select__content {
  padding: 4px 10px;
  border: 1px solid #2e2e2e;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  grid-gap: 0 5px;
}

.header__search {
  position: relative;
  width: 210px;
  margin: 10px 20px 0 10px;
}

.content-members .header__search {
  align-self: start;
}

.content__column-right .header__search {
  align-self: end;
  width: 260px;
  margin-right: 10px;
}

.header__search-ic {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
}

.header__input {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  padding: 3px 0 3px 27px;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px !important;
  color: #3d3d3d;
  font-size: 14px;
  border: none;
  outline: none;
  background: #e5e4e4;
}

.messages-burger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 10px;
  z-index: 2;
  margin-right: 5px;
}

.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #444343;
  left: 0;
  transform: translateY(-50%);
}

.burger__line-1 {
  top: 0;
}

.burger__line-2 {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line-3 {
  top: 100%;
}

@media screen and (max-width: 780px) {
  .messages-burger {
    display: block;
    cursor: pointer;
  }

  .message__info__all {
    max-width: max-content;
    word-break: break-word;
  }

  .header__title {
    font-size: 22px;
  }

  .content__body .messages__top {
    flex-direction: column;
    align-items: baseline;
    padding: 15px 5px;
  }

  .actions-block .header__search {
    width: 220px;
  }

  .header__body {
    padding: 17px 10px;
  }

  .message__info .message__title {
    font-size: 22px;
  }

}

@media screen and (max-width: 590px) {
  .header__select {
    padding: 4px 10px;
    font-size: 11px;
    grid-gap: 0 3px;
  }
}

@media screen and (max-width: 580px) {
  .header__search {
    width: 220px;
  }

  .header__select {
    padding: 2px 6px;
    font-size: 10px;
    grid-gap: 0 2px;
  }
}

@media screen and (max-width: 500px) {
  .header__body {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 17px 5px;
    /*25px*/
    grid-gap: 10px 0;
  }

  .header__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #4b4b4b;
  }

  .header__func {
    display: flex;
    grid-gap: 0 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header__select {
    padding: 4px 10px;
    font-size: 11px;
    grid-gap: 0 3px;
  }

  .header__search {
    width: 220px;
  }
}

@media only screen and (max-width:1040px) {
  .header__body {
    align-items: center;
  }

  .header__title {
    width: 120px;
  }

  .header__func {
    /*width: calc(100% - 200px);*/
    flex: 1 1 auto;
    align-items: center;
    padding-left: 5px;
  }

  .content__body .messages__top {
    flex-direction: column;
    align-items: baseline;
    padding: 15px 5px;
  }
}



@media (max-height: 580px)and(max-width: 1880px) {
  .header__body {
    height: 50px;
  }

  .header__title {
    font-size: 19px;
  }

  .message__info__all>div {
    font-size: 20px;
  }

}

@media screen and (max-width: 520px) {
  .header__func {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .header__func-min {
    display: flex;
    width: 45%;
    justify-content: space-between;
  }

  .header__search {
    width: 220px;
  }

  .header__func-min {
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-gap: 5px 0;
  }
}